import org.apache.river.start.NonActivatableServiceDescriptor;
import org.apache.river.start.ServiceDescriptor;
import org.apache.river.config.ConfigUtil;

org.apache.river.start {
    private static basecodebase = "http://" + ConfigUtil.getHostName() +
        ":8080/";
    private static codebase = basecodebase + "outrigger-dl.jar " +
         basecodebase + "jsk-dl.jar";

    private static policy = "config/policy.all";
    private static classpath = "../lib/outrigger.jar";
    private static config = "config/transient-jrmp-outrigger.config";

    static serviceDescriptors = new ServiceDescriptor[] {
        new NonActivatableServiceDescriptor(
            codebase, policy, classpath,
            "org.apache.river.outrigger.TransientOutriggerImpl",
            new String[] { config })
    };
}
